<% layout('layouts/boilerplate') %>

<h3>Change Admin Password</h3>

<form action="/admin/change-password" method="POST" class="col-md-4">

  <div class="mb-2">
    <label>New Password</label>
    <input
      type="password"
      name="newPassword"
      class="form-control"
      required
    />
  </div>

  <div class="mb-2">
    <label>Secret Code</label>
    <input
      type="password"
      name="secret"
      class="form-control"
      required
    />
  </div>

  <button class="btn btn-danger mt-2">Change Password</button>
</form>
